* {
  box-sizing: border-box;
}
body {
  font-family: Tahoma, Arial;
}
.quiz-app {
  display: none;
  margin: 20px auto;
  width: 800px;
  max-width: 90%;
  background-color: #f8f8f8;
  padding: 15px;
}
.quiz-app .quiz-info {
  display: flex;
  background-color: #fff;
  padding: 20px;
  direction: rtl;
  font-weight: bold;
}
.quiz-app .quiz-info .category {
  flex: 1;
  direction: rtl;
}
.quiz-app .quiz-info .category span {
  color: #0075ea;
}
.quiz-app .quiz-info .q-count {
  flex: 1;
  color: green;
  text-align-last: left;
  direction: rtl;
}
.quiz-app .quiz-area {
  background-color: #fff;
  padding: 20px;
  margin-top: 15px;
  text-align: right;
}
.quiz-app .quiz-area h2 {
  margin: 0;
  margin-bottom: 15px;
}
@media (width < 480px) {
  .quiz-app .quiz-area h2 {
    font-size: 14px;
  }
}
.quiz-app .answers-area {
  direction: rtl;
  background-color: #fff;
  padding: 0 20px 20px;
}
.quiz-app .answers-area .answer {
  background-color: #f9f9f9;
  padding: 15px;
}
.quiz-app .answers-area .answer:not(:last-child) {
  border-bottom: 1px solid #dfdfdf;
}
.quiz-app .answers-area .answer input[type="Radio"]:checked + label {
  color: #0075ff;
}
.quiz-app .answers-area .answer label {
  cursor: pointer;
  font-weight: bold;
  color: #777;
  font-size: 14px;
  margin-left: 5px;
  position: relative;
  top: -1px;
}
.quiz-app .submit-button {
  background-color: #0075ff;
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  border-radius: 6px;
  margin: 20px auto;
}
.disableded {
  background-color: #8ebceb;
}
.quiz-app .submit-button:focus {
  outline: none;
}
.quiz-app .bullets {
  border-top: 1px solid #dfdfdf;
  background-color: #fff;
  display: flex;
  padding: 20px;
}
.quiz-app .bullets .spans {
  flex: 1;
  display: flex;
}
.quiz-app .bullets .spans span {
  width: 20px;
  height: 20px;
  background-color: #ddd;
  margin-right: 5px;
  border-radius: 50%;
}
.quiz-app .bullets .spans span.on {
  background-color: #0075ff;
}
.quiz-app .results span {
  font-weight: bold;
}
.quiz-app .results span.bad {
  color: #dc0a0a;
}
.quiz-app .results span.good {
  color: #009688;
}
.quiz-app .results span.perfect {
  color: #0075ff;
}

.form {
  width: 250px;
  margin: 50px auto;
  border: 2px solid #0075ea;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  margin-top: 15px;
  border: 1px solid green;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  text-align: right;
  font-size: 24px;
}
select {
  width: 100%;
  border: 1px solid green;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
}
select {
  text-align: right;
  font-weight: bold;
  font-size: 20px;
}
select option {
  margin-right: 10px;
}
.submit-form {
  background-color: #0075ea;
  width: 100%;
  padding: 8px;
  color: #fff;
  font-weight: bold;
  margin-top: 15px;
  border-radius: 8px;

  font-size: 18px;
  border: none;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #00bcd4;
  color: white;
  width: 100%;
  text-align: center;
  padding: 8px;
}
.icons {
  display: block;
  padding-top: 15px;
}
.icons i {
  font-size: 28px;
}
.hub {
  color: black;
}
.fb {
  color: blue;
}
